# Data wrangling from the reading

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
#path
path = r'C:\Users\Admin\Documents\Data Analytics Course\Achievement 4\08-2020 Instacart Basket Analysis'

In [3]:
#importing data sets
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'))

In [4]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [6]:
df_ords.shape

(3421083, 7)

In [11]:
df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [12]:
# deleting the eval_set column
df_ords = df_ords.drop(columns = ['eval_set'])

In [ ]:
#looking for missing values in the "days_since_prior_order" column
df_ords['days_since_prior_order'].value_counts(dropna = False)

In [ ]:
# renaming order_dow column
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [ ]:
# changing "order_id" data type to string
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [ ]:
df_ords['order_id'].dtype

In [ ]:
#importing departments data
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'))

In [ ]:
df_dep.head()

In [ ]:
# transposing df_dep
df_dep_t = df_dep.T

In [ ]:
# creating new header
new_header = df_dep_t.iloc[0]

In [ ]:
# new data frame without the first row \
df_dep_t_new = df_dep_t[1:]

In [ ]:
df_dep_t_new

In [ ]:
# setting column headers
df_dep_t_new.columns = new_header

In [ ]:
df_dep_t_new

In [ ]:
#turning departments data set into data dictionary
data_dict = df_dep_t_new.to_dict('index')

In [ ]:
data_dict

In [ ]:
df_prods.head()

In [ ]:
# using data dictionary to department of row 0 
print(data_dict.get('19'))

In [ ]:
# creating subset of df_prods data set that only contains data from the snacks dept
df_snacks =  df_prods[df_prods['department_id']==19]

In [ ]:
df_snacks.head()

# Data wrangling from task 4.4

## Question 2

In [ ]:
# changing "user_id" data type to string
df_ords['user_id'] = df_ords['user_id'].astype('str')

## Question 3

In [ ]:
# Change variable name in df_ords dataframe from unintuitive to intuitive name without overwriting the original
df_ords_2 = df_ords.rename(columns = {'user_id' : 'customer_id'}, inplace = False)

## Question 4

In [ ]:
# Find the frequency of the busiest hour for placing orders
df_ords_2['order_hour_of_day'].value_counts()

Hour 10 is the busiest hour for placing orders.

## Question 5

In [ ]:
# Determine the meaning behind  4 in the "department_id" column within the df_prods dataframe 
print(data_dict.get('4'))

## Question 6

In [ ]:
#breakfast item sales subset
df_breakfast = df_prods[df_prods['department_id']==14]

In [ ]:
df_breakfast

## Question 7

In [ ]:
# subset of customers who might be throwing dinner parties 
#including alcohol (5), deli (20), beverages (7), and meat/seafood depts(12)
df_dinner_party = df_prods[df_prods['department_id'].isin([5, 20, 7, 12])]

In [ ]:
df_dinner_party

##  Question 8

The last dataframe has 7650 rows.

## Question 9

In [ ]:
#extracting information for customer with user_id 1
df_customer_1 = df_ords_2[df_ords_2['customer_id']=='1']

In [ ]:
df_customer_1

## Question 10

In [ ]:
#user_id 1 basic stats
df_customer_1.describe()

The customer with the user_id of '1' has placed 11 total orders. The average number of days between orders for this customer is 19 and they tend to shop between on days 1-4 between the hours of 7 and 16.

## Question 12

In [ ]:
#Export df_ords dataframe as “orders_wrangled.csv” in “Prepared Data” folder
df_ords_2.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

## Question 13

In [7]:
#Export the df_dep_t_new dataframe as “departments_wrangled.csv” in “Prepared Data” folder
df_dep_t_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled.csv'))

NameError: name 'df_dep_t_new' is not defined