# Exercise 4.7 Guided Practice and Independent Exercise

In [93]:
#import libraries
import pandas as pd
import numpy as np
import os

In [94]:
#import orders_products_merged file
path = r'C:\Users\Admin\Documents\Data Analytics Course\Achievement 4\08-2020 Instacart Basket Analysis'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [95]:
#create subset of first million rows
df = ords_prods_merge[:1000000]

In [96]:
#define function
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [97]:
#use price_label function on df
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Admin\AppData\Local\Temp\ipykernel_80832\3159061395.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [98]:
df['price_range'].value_counts()

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [99]:
df['prices'].max()

14.8

## Question 1. Creating the 'price_label' column

In [100]:
#using .loc function to create 'price_label' column
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_label'] = 'High-range product'

In [101]:
#using .loc function to create 'price_label' column
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (df['prices'] > 5), 'price_label'] = 'Mid-range product'

In [102]:
#using .loc function to create 'price_label' column
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_label'] = 'Low-range product'

In [103]:
#finding which days of the week have the most orders
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [104]:
ords_prods_merge.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_label
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,Mid-range product
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product

## Question 1. Creating the 'busiest_day' column

In [105]:
#creating 'busiest day' column. start by creating a for-loop
result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [106]:
ords_prods_merge['busiest day'] = result

In [107]:
# creating new column within ords_prods_merge dataframe and set it equal to result
ords_prods_merge['busiest day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest day, dtype: int64

In [108]:
ords_prods_merge.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_label,busiest day
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy

## Question 2

In [109]:
#checking busiest and slowest days
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [110]:
#creating for loop for busiest and slowest days
results = []

for value in ords_prods_merge['orders_day_of_week']:
  if (value == 0) or (value == 1):
    results.append('Busiest days')
  elif (value == 4) or (value == 3): 
    results.append('Slowest days')
  else:
    results.append('Regularly busy')

In [111]:
# creating new column within ords_prods_merge dataframe and set it equal to results
ords_prods_merge['busiest_days'] = results

## Question 3

In [112]:
#Check the values of new column for accuracy
ords_prods_merge['busiest_days'].value_counts(dropna = False)

Regularly busy    12916111
Busiest days      11864412
Slowest days       7624336
Name: busiest_days, dtype: int64

The two busiest days of the week (Saturday and Sunday) still bring in less customers than the three average busy days. The two slowest days (Tuesday and Wednesday) are significantly slower than the rest.

## Question 4

In [113]:
#checking busiest and slowest hours of the day
ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [114]:
#creating for loop for busiest and slowest hours
hours_results = []

for value in ords_prods_merge['order_hour_of_day']:
  if (value == 10) or (value == 11) or (value == 14) or (value == 15) or (value == 13) or (value == 12) or (value == 16) or (value == 9):
    hours_results.append('Most orders')
  elif (value == 17) or (value == 8) or (value == 18) or (value == 19) or (value == 20) or (value == 7) or (value == 21) or (value == 22): 
    hours_results.append('Average orders')    
  else:
    hours_results.append('Fewest orders')

In [115]:
# creating new column within ords_prods_merge dataframe and set it equal to hours_results
ords_prods_merge['busiest_period_of_day'] = hours_results

## Question 5

In [116]:
# print frequency for busiest_period_of_day column
ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: busiest_period_of_day, dtype: int64

In [117]:
ords_prods_merge.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_label,busiest day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders

Note: I wasn't sure if I should delete the 'busiest day' column or if I should have both the 'busiest day' and 'busiest days' column.  I kept it for now but can delete it if necessary.

## Question 7

In [118]:
#export dataframe as pickle file
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'NEW_orders_products_merged.pkl'))