In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# #import orders_products_merged file
path = r'C:\Users\Admin\Documents\Data Analytics Course\Achievement 4\08-2020 Instacart Basket Analysis'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'NEW_orders_products_merged.pkl'))

In [9]:
#create subset of one million
df = ords_prods_merge[:1000000]

In [5]:
#calculate the mean of the “order number” column grouped by the “department_id” column
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [6]:
# same as above but using the mean function
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [7]:
# performing multiple aggregations (same as above but adding min and max)
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [12]:
#creating a flag for customers with many orders
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['customer_id'])['order_number'].transform(np.max)

In [15]:
#create a flag that assigns a “loyalty” label to a user ID based on its corresponding max order value
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [19]:
#checking the columns
ords_prods_merge[['customer_id', 'loyalty_flag', 'order_number']].head()

   customer_id  loyalty_flag  order_number
0            1  New customer             1
1            1  New customer             2
2            1  New customer             3
3            1  New customer             4
4            1  New customer             5