In [19]:
# importing libraries
import pandas as pd
import numpy as np
import os

## Question 3

In [20]:
#path
path = r'C:\Users\Admin\Documents\Data Analytics Course\Achievement 4\08-2020 Instacart Basket Analysis'

In [21]:
#importing data sets
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## Question 4

In [22]:
#check shape
orders_products_combined.shape

(32434489, 11)

## Question 5

In [23]:
#importing products dataframe
prods_df = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col=[0])

In [24]:
#checking prods df
prods_df.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [25]:
#checking orders_products_combined df 
orders_products_combined.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [26]:
#merging 
df_orders_products_merged = orders_products_combined.merge(prods_df, on = 'product_id')

In [27]:
df_orders_products_merged.head()

,order_id,customer_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0

## Question 6

In [28]:
# Confirm the results of the merge using the merge flag; running frequency count on _merge column
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

## Question 7

In [29]:
#export new merged df
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))